<section class="flex flex-col items-center justify-center px-3 py-4 mx-auto md:h-screen lg:py-0">
  <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:border-gray-700">
      <div class="p-6 space-y-4 rounded-lg md:space-y-6 bg-purple-300 sm:p-8">
  <h5 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
    Login Here</h5>

  <!-- <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off" novalidate class="space-y-4 md:space-y-6"> -->
    <form action="" [formGroup]="loginForm" class="space-y-4 md:space-y-6">
    <div>
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email Address</label>
      <input type="email" placeholder="Email Address" class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="email"
        [class]="{'invalid': loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched, 'valid':loginForm.get('email')?.valid}">
      @if (loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched) {
      <span class="form-error">Email Address is required.</span>
      }
    </div>
    <div class="form-group mb-3">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
      <input type="password" placeholder="Password" class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="password"
        [class]="{'invalid': loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched, 'valid':loginForm.get('password')?.valid}">
      @if (loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) {
      <span class="form-error">Password is required.</span>
      }
    </div>
    <button type="submit" (click)="loginUser()" class="text-white bg-pink-300 hover:bg-blue-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-pink-300 dark:hover:bg-blue-300 dark:focus:ring-blue-800">Submit</button>
  </form>

  <div class=" relative top-2 mt-3">
    <div>
        <p class="text-sm font-light text-gray-500 dark:text-white-400">
          Don't have an account? <a routerLink="/register"  class="font-medium text-gray-600 hover:underline dark:text-white-500">Register</a>
        </p>
    </div>
</div>
</div>

</div>
</section>