
<section class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="relative isolate overflow-hidden px-6 py-20 text-center sm:px-16 sm:shadow-sm">
      <p class="mx-auto max-w-2xl text-3xl font-bold tracking-tight text-black-600 sm:text-4xl">
        Hungry? Search for some yum yum recipes!
      </p>

    <div class="mb-3 pt-0">
    <form (submit)="searchRecipes()">
      <label class="mx-auto mt-8 relative bg-white min-w-sm max-w-2xl flex flex-col md:flex-row items-center justify-center border py-2 px-2 rounded-2xl gap-2 shadow-2xl focus-within:border-gray-300" for="search-bar">
     <input [(ngModel)]="searchQuery" name="searchQuery" placeholder="Search ingredients or recipe" type="text" class="px-6 py-2 w-full rounded-md flex-1 outline-none bg-white">
     <button class="w-full md:w-auto px-6 py-3 bg-pink-300 border-black text-white fill-white active:scale-95 duration-100 border will-change-transform overflow-hidden relative rounded-xl transition-all" 
     type="submit" (click)="searchRecipes()">Search Recipes</button>
     </label>
   </form>
</div>

     <select [(ngModel)]="cuisineType" name="cuisineType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mx-4">
      <option value="">Cuisine</option>
      <option value="American">American</option>
      <option value="Asian">Asian</option>
      <option value="British">British</option>
      <option value="Caribbean">Caribbean</option>
      <option value="Central Europe">Central Europe</option>
      <option value="Chinese">Chinese</option>
      <option value="Eastern Europe">Eastern Europe</option>
      <option value="Nordic">Nordic</option>
      <option value="French">French</option>
      <option value="Indian">Indian</option>
      <option value="Italian">Italian</option>
      <option value="Japanese">Japanese</option>
      <option value="Kosher">Kosher</option>
      <option value="Mediterranean">Mediterranean</option>
      <option value="Mexican">Mexican</option>
    </select>

    <select [(ngModel)]="mealType" name="mealType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mx-4">
      <option value="">Meal type</option>
      <option value="Breakfast">Breakfast</option>
      <option value="Lunch">Lunch</option>
      <option value="Dinner">Dinner</option>
      <option value="Snack">Snack</option>
      <option value="Teatime">Teatime</option>
      <!-- Add options dynamically if needed -->
    </select>

    <select [(ngModel)]="healthLabels" name="healthLabels" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mx-4">
      <option value="">Allergens | Diet</option>
      <option value="Alcohol-Free">Alcohol free</option>
      <option value="fish-free">Fish free</option>
      <option value="peanut-free">Peanut free</option>
      <option value="wheat-free">Gluten free</option>
      <option value="Vegan">Vegan</option>
      <option value="Vegetarian">Vegetarian</option>
        </select>

        <select [(ngModel)]="dishType" name="dishType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mx-4">
        <option value="">Dish Type</option>
        <option value="starter">Starters</option>
        <option value="desserts">Dessert</option>
        <option value="main course">Main Course</option>
        <option value="salad">Salad</option>
        <option value="soup">Soup</option>
        <option value="bread">Bread</option>

        </select>
      </div>
    </section>

  <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
@for (recipe of recipes; track recipe) {
  <article class="rounded overflow-hidden shadow-lg flex flex-col">
    <figure class="relative">
        <img class="w-full" [src]="recipe.image" [alt]="recipe.title">
        <div class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"></div>
    </figure>
    <div class="px-6 py-4 mb-auto">
        <h2 href="#" class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out mb-2">{{ recipe.title }}</h2>
    </div>
    <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
        <span class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
          <svg height="13px" width="13px" version="1.1" id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                      y="0px" viewBox="0 0 512 512"
                      xml:space="preserve">
                      <g>
                          <g>
                              <path
                                  d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M277.333,256 c0,11.797-9.536,21.333-21.333,21.333h-85.333c-11.797,0-21.333-9.536-21.333-21.333s9.536-21.333,21.333-21.333h64v-128 c0-11.797,9.536-21.333,21.333-21.333s21.333,9.536,21.333,21.333V256z">
                              </path>
                          </g>
                      </g>
                  </svg>
          <span class="ml-1">{{recipe.totalTime}} min</span>
        </span>
        <span class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
        <span class="ml-1">{{ roundUp(recipe.calories) }} calories</span>
      </span>

      <button type="submit" class="bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
      <a [routerLink]="['/onerecipe', recipe.selfrefrence | recipeidformatter]">View Details</a></button>

    </div>
  </article>
} @empty {
  <p class="text-3xl font-bold leading-tight mb-4">Yummiest yum yum!</p>
}
</section>