
<section class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
    <div class="mb-3 pt-0">
    <form (submit)="searchRecipes()">
     <input [(ngModel)]="searchQuery" name="searchQuery" placeholder="Search query" type="text" class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full">
     <input [(ngModel)]="cuisineType" name="cuisineType" placeholder="Cuisine type" type="text" class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full">
     <input [(ngModel)]="mealType" name="mealType" placeholder="Meal type" type="text" class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full">
     <input [(ngModel)]="diet" name="diet" placeholder="Diet" type="text" class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring w-full">
      <button class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" 
      type="submit" (click)="searchRecipes()">Search Recipes</button>
    </form> </div>

  <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
@for (recipe of recipes; track recipe) {
  <article class="rounded overflow-hidden shadow-lg flex flex-col">
    <figure class="relative">
        <img class="w-full" [src]="recipe.image" [alt]="recipe.title">
        <div class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"></div>
    </figure>
    <div class="px-6 py-4 mb-auto">
        <h2 href="#" class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out mb-2">{{ recipe.title }}</h2>
    </div>
    <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
        <span class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
          <svg height="13px" width="13px" version="1.1" id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                      y="0px" viewBox="0 0 512 512"
                      xml:space="preserve">
                      <g>
                          <g>
                              <path
                                  d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M277.333,256 c0,11.797-9.536,21.333-21.333,21.333h-85.333c-11.797,0-21.333-9.536-21.333-21.333s9.536-21.333,21.333-21.333h64v-128 c0-11.797,9.536-21.333,21.333-21.333s21.333,9.536,21.333,21.333V256z">
                              </path>
                          </g>
                      </g>
                  </svg>
          <span class="ml-1">{{recipe.totalTime}} min</span>
        </span>
        <span class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
        <span class="ml-1">{{ roundUp(recipe.calories) }} calories</span>
      </span>

      <button type="submit" class="bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">
      <a [routerLink]="['/onerecipe', recipe.selfrefrence | recipeidformatter]">View Details</a></button>

    </div>
  </article>
} @empty {
  <p>Search for some yummy yum yum recipes!</p>
}

</section>
</section>