
<!-- @for (item of (recipes$ | async); track $index) {
      <span>
        {{item.title}}
      </span>
    } -->
    <div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">

      <!-- Cards grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">

      <!-- CARD 1 -->
      <div class="rounded overflow-hidden shadow-lg flex flex-col">
        <a href="#"></a>
          <!-- image area -->
          <div class="relative"><a href="#">
                  <img class="w-full"
                      src="https://loveincorporated.blob.core.windows.net/contentimages/gallery/f8b9c217-f6a6-45bc-9b0e-7b7ffd5b042f-roastedhalloumi.jpg"
                      alt="Sunset in the mountains">
                  <div
                      class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                  </div>
              </a>
              <!-- Link to more details -->
              <a href="#!">
                  <div
                      class="text-xs absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                      Add to list
                  </div>
              </a>
          </div>
          <div class="px-6 py-4 mb-auto">
            <!-- Recipe title -->
              <a href="#"
                  class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out mb-2">Simplest
                  Salad Recipe</a>
                  <!-- Recipe description -->
              <p class="text-gray-500 text-sm">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </p>
          </div>

          <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
              <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                  <svg height="13px" width="13px" version="1.1" id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                      y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                      xml:space="preserve">
                      <g>
                          <g>
                              <path
                                  d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M277.333,256 c0,11.797-9.536,21.333-21.333,21.333h-85.333c-11.797,0-21.333-9.536-21.333-21.333s9.536-21.333,21.333-21.333h64v-128 c0-11.797,9.536-21.333,21.333-21.333s21.333,9.536,21.333,21.333V256z">
                              </path>
                          </g>
                      </g>
                  </svg>
                  <!-- Duration -->
                  <span class="ml-1"> 2 hours </span>
              </span>
          </div>
      </div>

      <!-- CARD 2 -->
      <div class="rounded overflow-hidden shadow-lg flex flex-col">
        <a href="#"></a>
          <!-- image area -->
          <div class="relative"><a href="#">
                  <img class="w-full"
                      src="https://loveincorporated.blob.core.windows.net/contentimages/gallery/f8b9c217-f6a6-45bc-9b0e-7b7ffd5b042f-roastedhalloumi.jpg"
                      alt="Sunset in the mountains">
                  <div
                      class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                  </div>
              </a>
              <!-- Link to more details -->
              <a href="#!">
                  <div
                      class="text-xs absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                      Add to list
                  </div>
              </a>
          </div>
          <div class="px-6 py-4 mb-auto">
            <!-- Recipe title -->
              <a href="#"
                  class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out mb-2">Simplest
                  Salad Recipe</a>
                  <!-- Recipe description -->
              <p class="text-gray-500 text-sm">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </p>
          </div>

          <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
              <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                  <svg height="13px" width="13px" version="1.1" id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                      y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                      xml:space="preserve">
                      <g>
                          <g>
                              <path
                                  d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M277.333,256 c0,11.797-9.536,21.333-21.333,21.333h-85.333c-11.797,0-21.333-9.536-21.333-21.333s9.536-21.333,21.333-21.333h64v-128 c0-11.797,9.536-21.333,21.333-21.333s21.333,9.536,21.333,21.333V256z">
                              </path>
                          </g>
                      </g>
                  </svg>
                  <!-- Duration -->
                  <span class="ml-1"> 2 hours </span>
              </span>
          </div>
      </div>

      <!-- CARD 3 -->
      <div class="rounded overflow-hidden shadow-lg flex flex-col">
        <a href="#"></a>
          <!-- image area -->
          <div class="relative"><a href="#">
                  <img class="w-full"
                      src="https://loveincorporated.blob.core.windows.net/contentimages/gallery/f8b9c217-f6a6-45bc-9b0e-7b7ffd5b042f-roastedhalloumi.jpg"
                      alt="Sunset in the mountains">
                  <div
                      class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                  </div>
              </a>
              <!-- Link to more details -->
              <a href="#!">
                  <div
                      class="text-xs absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                      Add to list
                  </div>
              </a>
          </div>
          <div class="px-6 py-4 mb-auto">
            <!-- Recipe title -->
              <a href="#"
                  class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out mb-2">Simplest
                  Salad Recipe</a>
                  <!-- Recipe description -->
              <p class="text-gray-500 text-sm">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </p>
          </div>

          <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
              <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                  <svg height="13px" width="13px" version="1.1" id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                      y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                      xml:space="preserve">
                      <g>
                          <g>
                              <path
                                  d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M277.333,256 c0,11.797-9.536,21.333-21.333,21.333h-85.333c-11.797,0-21.333-9.536-21.333-21.333s9.536-21.333,21.333-21.333h64v-128 c0-11.797,9.536-21.333,21.333-21.333s21.333,9.536,21.333,21.333V256z">
                              </path>
                          </g>
                      </g>
                  </svg>
                  <!-- Duration -->
                  <span class="ml-1"> 2 hours </span>
              </span>
          </div>
      </div>

      <!-- CARD 4 -->
      <div class="rounded overflow-hidden shadow-lg flex flex-col">
        <a href="#"></a>
          <!-- image area -->
          <div class="relative"><a href="#">
                  <img class="w-full"
                      src="https://loveincorporated.blob.core.windows.net/contentimages/gallery/f8b9c217-f6a6-45bc-9b0e-7b7ffd5b042f-roastedhalloumi.jpg"
                      alt="Sunset in the mountains">
                  <div
                      class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
                  </div>
              </a>
              <!-- Link to more details -->
              <a href="#!">
                  <div
                      class="text-xs absolute top-0 right-0 bg-indigo-600 px-4 py-2 text-white mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                      Add to list
                  </div>
              </a>
          </div>
          <div class="px-6 py-4 mb-auto">
            <!-- Recipe title -->
              <a href="#"
                  class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out mb-2">Simplest
                  Salad Recipe</a>
                  <!-- Recipe description -->
              <p class="text-gray-500 text-sm">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </p>
          </div>

          <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
              <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                  <svg height="13px" width="13px" version="1.1" id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                      y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                      xml:space="preserve">
                      <g>
                          <g>
                              <path
                                  d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M277.333,256 c0,11.797-9.536,21.333-21.333,21.333h-85.333c-11.797,0-21.333-9.536-21.333-21.333s9.536-21.333,21.333-21.333h64v-128 c0-11.797,9.536-21.333,21.333-21.333s21.333,9.536,21.333,21.333V256z">
                              </path>
                          </g>
                      </g>
                  </svg>
                  <!-- Duration -->
                  <span class="ml-1"> 2 hours </span>
              </span>
          </div>
      </div>

</div>
</div>